/* .intro {
  display: flex;
}

.typing {
  position: relative;
  margin-left: 10px;
}

.typing::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 95%;
  border-right: 2px solid black;
  right: -5px;
  animation: blink 1s infinite ease;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.accordion {
  width: 312px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 4px;
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-align: left;
  gap: 48px;
}

.accordion-question {
  font-family: "Raleway" sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #ffffff;
  text-align: left;
}
.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  padding: 16px;
  width: 100%;
  background: #2e7ba2;
  border: none;
  outline: none;

  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.accordion-header.active {
  background-color: #1070b1;
}

.accordion-header i {
  transition: all 0.3s ease-in-out;
}

.accordion-header.active i {
  transform: rotate(180deg);
}

.accordion-body {
  background-color: #c8deef;
  align-items: center;
  width: 312px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.accordion-text {
  text-align: left;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 40px;
  font-weight: 500;
  color: var(--cinza);
}

.accordion-body.active {
  max-height: 25rem;
  padding: 1rem;
}
.resposta__link {
  text-decoration: underline;
  color: var(--cinza);
} */
.accordion {
  width: 450px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 4px;
  font-family: "Raleway", Tahoma, Geneva, Verdana, sans-serif;
}

strong {
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-align: left;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  width: 312px;
  background: #2e7ba2;
  border: none;
  outline: none;
  color: #ffffff;
  cursor: pointer;
}

.accordion-header.active {
  background-color: #1070b1;
}
.accordion-header.active i {
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out;
}

.accordion-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 280px;
  padding: 0 16px;
  background-color: #c8deef;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.accordion-body.active {
  max-height: 10rem;
  padding: 1rem;
}

.accordion-text {
  color: #444444;
  font-size: 20px;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
}
