@import url("/Style/cabecalho.css");
@import url("/Style/rodape.css");
@import url("/Style/style.css");

body {
  font-family: "Raleway", sans-serif;
  color: var(--cinza);
}
.bannerexperiencia {
  position: relative;
  display: flex;
  height: 270px;
  justify-content: center;
  align-items: center;
}

.bannerexperiencia__img {
  background: url("../img/AExperiencia/bannerExperienciaReal.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  mix-blend-mode: multiply;
  opacity: 0.4;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.bannerexperiencia_titulo {
  font-family: "Calistoga", sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: var(--cinza);
  text-align: center;
  width: 90%;
  line-height: 40px;
}

.main__container {
  display: flex;
  flex-direction: column;
  padding: 32px 24px;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.main__img {
  border: 16px;
}
.main__img768 {
  display: none;
}

.main__texto {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: center;
}

.main__titulo {
  font-size: 32px;
  font-weight: 700;
  line-height: 30px;
}

.main__conteudo {
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
}
@media screen and (min-width: 768px) {
  .main__container {
    padding: 32px 60px 32px 60px;
  }

  .main__img360 {
    display: none;
  }

  .main__img768 {
    display: block;
  }
}

@media screen and (min-width: 1280px) {
  .main__container {
    flex-direction: row;
    align-items: center;

    padding: 64px 80px 64px 80px;
  }

  .main__container-direito {
    flex-direction: row-reverse;
  }

  .main__titulo-esquerdo,
  .main__conteudo-esquerdo {
    text-align: left;
  }

  .main__titulo-direito,
  .main__conteudo-direito {
    text-align: right;
  }

  .bannerexperiencia_titulo {
    font-size: 64px;
    font-weight: 400;
  }
}
