.info__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 24px;
}

.info__img {
  height: 312px;
  margin-top: 32px;
  border-radius: 16px;
}

.info__data,
.info__local {
  font-size: 32px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  color: var(--cinza);
}

.info__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  text-align: center;
}

.info__descricao {
  font-family: "Raleway", sans-serif;
  font-size: 19px;
  font-weight: 500;
  text-align: center;
  margin: 0 24px 0 24px;
  line-height: 40px;
}

.btn__ingresso {
  background: var(--azul-escuro);
  box-shadow: 0px 2px 4px 0px #444444;
  border: none;
  border-radius: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn__ingresso-link {
  color: #ffffff;
  text-decoration: none;
  padding: 8px 16px;
  gap: 32px;
  cursor: pointer;
}

.btn__ingresso-link:hover {
  color: #ffffff;
}

.info__img1280 {
  display: none;
}

@media screen and (min-width: 768px) {
  .info__container {
    padding: 32px 60px;
  }

  .info__img {
    display: none;
  }

  .info__img1280 {
    display: block;
  }
}

@media screen and (min-width: 1280px) {
  .info__container {
    flex-direction: row;
    justify-content: space-between;
    gap: 48px;
  }

  .info__card {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 32px 0 32px;
  }
}
