@import url("../Style/style.css");

.banner__info {
  position: relative;
  display: flex;
  height: 270px;
  justify-content: center;
  align-items: center;
}

.banner__info-img {
  background: url("../img/infogerais.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  mix-blend-mode: multiply;
  opacity: 0.4;
  position: absolute;
  width: 100%;
  z-index: -1;
}
