@import url("/Style/cabecalho.css");
@import url("/Style/rodape.css");
@import url("/Style/style.css");

body {
  font-family: "Raleway", sans-serif;
  color: var(--cinza);
}

.banner__setores {
  position: relative;
  display: flex;
  height: 270px;
  justify-content: center;
  align-items: center;
}

.banner__img {
  background: url("../img/MapadeSetores/banner.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  mix-blend-mode: multiply;
  opacity: 0.4;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.mapasetores {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mapasetores__legenda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.mapasetores__legenda-locais {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.mapasetores__legenda-locais-container {
  display: flex;
  gap: 16px;
  align-items: center;
}

.mapadesetores__titulo {
  font-size: 20px;
  font-weight: 700;
}

.detalhes__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px 24px;
  gap: 32px;
}

.detalhes__titulo {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.detalhes__conteudo {
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
}

.detalhes__img768 {
  display: none;
}

.mapasetores1440 {
  display: none;
}

.detalhes__titulo-principal {
  margin-top: 48px;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .detalhes__titulo {
    font-size: 40px;
  }

  .detalhes__img360 {
    display: none;
  }
  .detalhes__img768 {
    display: block;
  }


@media screen and (min-width: 1280px) {
  .mapasetores {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 48px;
  }

  .mapasetores360 {
    display: none;
  }

  .mapasetores1440 {
    display: block;
  }

  .detalhes__1440 {
    display: flex;
    align-items: center;
    position: relative;
  }

  .detalhes__container-bottom {
    padding: 112px 0 0 0 ;
  }

  
}
