.foto__publico-img {
  filter: sepia(70%);
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.foto__publico-768,
.foto__publico-1440 {
  display: none;
}

@media screen and (min-width: 768px) {
  .foto__publico-360,
  .foto__publico-1440 {
    display: none;
  }

  .foto__publico-768 {
    display: block;
  }
}
@media screen and (min-width: 1280px) {
  .foto__publico-360,
  .foto__publico-768 {
    display: none;
  }

  .foto__publico-1440 {
    display: block;
  }
}
