.rodape {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  /* padding: 24px; */
  text-align: center;
  padding: 1.5rem;
}

.rodape__redes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding: 24px;
}

.redes-sociais {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.rodape__logo {
  height: 64px;
  width: 233px;
}

.rodape__links {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.rodape__desenvolvido {
  line-height: 2.5rem;
  padding: 0.5rem 0;
}

.rodape__desenvolvido br {
  display: none;
}

.rodape__redes-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* @media screen and (min-width: 768px) {
  .rodape {
    flex-direction: row;
  }

  .rodape__container {
    justify-content: flex-start;
  }
} */

@media screen and (min-width: 1280px) {
  .rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 24px 120px;
    gap: 32px;
  }

  .rodape__redes-container {
    display: flex;
    align-items: flex-start;
  }

  /* .rodape__container {
    justify-content: space-between;
  } */
  .rodape__redes {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .rodape__desenvolvido br {
    display: block;
  }

  .redes-sociais {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
