@import url("../Style/banner.css");
@import url("../Style/datas.css");
@import url("../Style/lineup.css");
@import url("../Style/publico.css");
@import url("../Style/rodape.css");
@import url("../Style/cabecalho.css");
@import url("../Style/mapadesetores.css");
@import url("../Style/informacoes.css");
@import url("../Style/formulario.css");
@import url("../Style/ingresso.css");

:root {
  --fonte-principal: "Raleway", sans-serif;
  --fonte-titulo: "Calistoga", sans-serif;
  --branco: #ffffff;
  --azul-escuro: #2e7ba2;
  --cinza: #444444;
  --mostarda: #df9010;
  --laranja-claro: #facf9d;
}

body {
  font-family: "Raleway", sans-serif;
  background: linear-gradient(180deg, #bfdae6 0%, #fcf0dd 50%, #facf9d 100%);
}

/* .cabecalho .menu__botao {
  position: relative;
  width: 28px;
  height: 22px;
  background-color: var(--cor-primaria);
}

.cabecalho .menu__botao span {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 50px;
}

.cabecalho .menu__botao span:nth-child(1) {
  top: 0;
  transition: transform 0.3s, top 0.3s;
}

.cabecalho .menu__botao span:nth-child(2) {
  top: 40%;
  transition: opacity 0.3s;
}

.cabecalho .menu__botao span:nth-child(3) {
  top: 80%;
  transition: transform 0.3s, top 0.3s;
}

.cabecalho .menu__botao span:nth-child(1).ativo {
  transform: rotate(0.125turn);
  top: 40%;
}

.cabecalho .menu__botao span:nth-child(2).ativo {
  opacity: 0;
}

.cabecalho .menu__botao span:nth-child(3).ativo {
  transform: rotate(-0.125turn);
  top: 40%;
}

.cabecalho .menu__lista {
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  background-color: var(--cor-primaria);
  color: white;
  text-align: center;
  font-family: var(--fonte-principal);
  font-size: 1.25em;
  font-weight: 700;
  max-height: 0;
  padding: 0;
  overflow: hidden;
  transition: max-height 0.3s, padding 0.3s;
}

.cabecalho .menu__lista.ativo {
  max-height: none;
  padding: 16px;
}

.cabecalho .menu__lista li {
  position: relative;
  top: 20px;
  opacity: 0;
  transition: opacity 2s, top 1s;
}

.cabecalho .menu__lista li:nth-child(1) {
  transition: opacity 0.6s 0.1s, top 0.6s ease-out 0.1s;
}

.cabecalho .menu__lista li:nth-child(2) {
  transition: opacity 0.6s 0.2s, top 0.6s ease-out 0.2s;
}

.cabecalho .menu__lista li:nth-child(3) {
  transition: opacity 0.6s 0.3s, top 0.6s ease-out 0.3s;
}

.cabecalho .menu__lista li:nth-child(4) {
  transition: opacity 0.6s 0.4s, top 0.6s ease-out 0.4s;
}

.cabecalho .menu__lista li.ativo {
  top: 0;
  opacity: 1;
}

.cabecalho .menu__lista > :not(:last-child)::after {
  content: "";
  position: absolute;
  background-color: white;
  width: 80%;
  height: 1px;
  bottom: -16px;
  left: 50%;
  transform: translate(-50%);
}

@media screen and (min-width: 768px) {
  .cabecalho {
    flex-direction: column;
    margin-bottom: 56px;
  }

  .troca-tema-container {
    top: 65%;
    left: 49%;
    transform: translate(-50%);
  }

  .cabecalho .menu {
    width: 100%;
  }

  .cabecalho .menu__botao {
    display: none;
  }

  .cabecalho .menu__botao-label {
    display: none;
  }

  .cabecalho .menu__lista {
    width: 100vw;
    max-height: none;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 60px 32px 60px;
    transition: none;
  }

  .cabecalho .menu__lista li {
    top: 20;
    opacity: 0;
  }

  .cabecalho .menu__lista > :nth-child(-n + 3)::after {
    content: none;
  }

  .cabecalho .menu__lista li:nth-child(1) {
    animation: animacao-menu 1s ease-out forwards 0.5s;
  }

  .cabecalho .menu__lista li:nth-child(2) {
    animation: animacao-menu 1s ease-out forwards 0.65s;
  }

  .cabecalho .menu__lista li:nth-child(3) {
    animation: animacao-menu 1s ease-out forwards 0.8s;
  }

  .cabecalho .menu__lista li:nth-child(4) {
    animation: animacao-menu 1s ease-out forwards 0.95s;
  }

  @keyframes animacao-menu {
    to {
      top: 0;
      opacity: 1;
    }
  }

  .menu__lista li::before {
    content: "";
    position: absolute;
    top: 110%;
    width: 0;
    left: 0;
    height: 2px;
    background: white;
    transition: width 0.5s ease-out;
  }

  .menu__lista li:hover::before {
    width: 100%;
  }

  .cabecalho .menu__lista li.atual::before {
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .cabecalho {
    flex-direction: row;
    padding: 32px 120px;
    margin-bottom: 0;
  }

  .troca-tema-container {
    left: auto;
    transform: none;
  }

  .cabecalho .menu {
    width: auto;
  }

  .cabecalho .menu__lista {
    width: auto;
    position: static;
    padding: 5px;
    gap: 32px;
  }
} */
@media screen and (min-width: 768px) {
  .rodape {
    padding: 24px 120px;
    gap: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .rodape {
    padding: 24px 120px;
    gap: 16px;
  }
}

/* 
.cabecalho {
  background: var(--azul-escuro);
  width: 100%;
}

.container {
  font-family: "Raleway", sans-serif;
  padding: 32px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cabecalho__lista {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
  /* margin-right: 50px; */
/* }

.cabecalho__item-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
}
.cabecalho__item-link:hover {
  color: var(--laranja-claro);
}

.active {
  display: none;
}



.dropdown-menu {
  background: var(--azul-escuro);
}

.dropdown-item {
  color: var(--branco);
}

.btn {
  background: var(--azul-escuro);
  border: none;
}
.btn:hover {
  background: var(--azul-escuro);
}

.dropdown-toggle::after {
  content: none;
}



@media screen and (min-width: 768px) {
  .container {
    display: block;
    text-align: center;
  }
  .hidden {
    display: none;
  }
  .active {
    display: flex;
  }
  .cabecalho__lista {
    margin-top: 30px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .cabecalho {
    display: flex;
    justify-content: space-between;
  }
}  */
