:root {
  --fonte-principal: "Raleway";
  --branco: #ffffff;
  --azul-escuro: #2e7ba2;
  --cinza: #444444;
  --mostarda: #df9010;
}

/* CABEÇALHO */

.cabecalho {
  background: var(--azul-escuro);
  width: 100%;
}

.container {
  font-family: "Raleway", sans-serif;
  padding: 32px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cabecalho__lista {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
  /* margin-right: 50px; */
}

.cabecalho__item-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
}

.active {
  display: none;
}

/* .cabecalho__logo {
  margin-left: 50px;
} */

.dropdown-menu {
  background: var(--azul-escuro);
}

.dropdown-item {
  color: var(--branco);
}

.btn {
  background: var(--azul-escuro);
  border: none;
}
.btn:hover {
  background: var(--azul-escuro);
}

.dropdown-toggle::after {
  content: none;
}

@media (min-width: 768px) {
  .container {
    display: block;
    text-align: center;
  }
  .hidden {
    display: none;
  }
  .active {
    display: flex;
  }
  .cabecalho__lista {
    margin-top: 30px;
  }
}

@media (min-width: 1440) {
  .container {
    display: flex;
  }
}
